{% extends 'basic.html' %}
{% block title %}Login - Placement Portal{% endblock %}
{% block body %}
{% load static %}
	<!-- banner -->
	<div class="banner-agile-2">

	</div>
	<!-- breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href=" {% static 'index.html' %} ">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Login Form</li>
		</ol>
	</nav>
	<!-- breadcrumb -->
	<!-- //banner -->
{% include 'messages.html' %}
	<!-- login -->
	<div class="login-w3ls py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">Login
				<span class="font-weight-bold">now</span>
			</h3>
			<!-- content -->
			<div class="sub-main-w3 pt-md-4">
				<form action="/checkuser" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
					<div class="form-style-agile form-group">
						<label>
							Email
							<i class="fas fa-user"></i>
						</label>
						<input placeholder="Email" class="form-control" name="email" type="text" required="">
					</div>
					<div class="form-style-agile form-group">
						<label>
							Password
							<i class="fas fa-unlock-alt"></i>
						</label>
						<input placeholder="Password" class="form-control" name="password" type="password" required="">
					</div>
					<!-- switch -->
					<ul class="list-unstyled list-login">
						<li class="switch-agileits float-left">

						</li>
						<li class="float-right">
<!--							<a href="#" class="text-right text-white text-capitalize">forgot password?</a>-->
						</li>
					</ul>
					<!-- //switch -->
					<input type="submit" value="Log In">
					<p class="text-center dont-do mt-4 text-white">Don't have an account?
						<a href="/signup" class="text-white  font-weight-bold">
							Register Now</a>
					</p>
				</form>
			</div>
			<!-- //content -->
		</div>
	</div>
	<!-- //login -->

	<!-- brands -->
	<div class="brands-w3ls py-md-5 py-4">
		<div class="container py-xl-3">
			<ul class="list-unstyled">
				<li>
					<i class="fab fa-supple"></i>
				</li>
				<li>
					<i class="fab fa-angrycreative"></i>
				</li>
				<li>
					<i class="fab fa-aviato"></i>
				</li>
				<li>
					<i class="fab fa-aws"></i>
				</li>
				<li>
					<i class="fab fa-cpanel"></i>
				</li>
				<li>
					<i class="fab fa-hooli"></i>
				</li>
				<li>
					<i class="fab fa-node"></i>
				</li>
			</ul>
		</div>
	</div>
	<!-- //brands -->




	<!-- Js files -->
	<!-- JavaScript -->
	<script src=" {% static 'js/jquery-2.2.3.min.js' %} "></script>
	<!-- Default-JavaScript-File -->
	<script src=" {% static 'js/bootstrap.js' %} "></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->

	<!-- smooth scrolling -->
	<script src=" {% static 'js/SmoothScroll.min.js' %} "></script>
	<!-- //smooth scrolling -->

	<!-- move-top -->
	<script src=" {% static 'js/move-top.js' %} "></script>
	<!-- easing -->
	<script src=" {% static 'js/easing.js' %} "></script>
	<!--  necessary snippets for few javascript files -->
	<script src=" {% static 'js/edulearn.js' %} "></script>
	<script src=" {% static 'js/responsive.js' %} "></script>
	<!-- //Js files -->

{% endblock %}