{% extends 'basic.html' %}
{% block title %}Register - Placement Portal{% endblock %}
{% block body %}
{% load static %}
	<!-- banner -->
	<div class="banner-agile-2">
		<!-- navigation -->

		<!-- //navigation -->
	</div>

	<!-- breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href=" {% static 'index.html' %} ">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Register Form</li>
		</ol>
	</nav>
	<!-- breadcrumb -->
	<!-- //banner -->
{% include 'messages.html' %}
	<!-- register -->
	<div class="login-w3ls py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">register
				<span class="font-weight-bold">now</span>
			</h3>
			<!-- content -->
			<div class="sub-main-w3 pt-md-4">
				<form action="/viewdata" method="post" enctype="multipart/form-data"> {% csrf_token %}

					<div class="form-style-agile form-group">
						<label>
							Email
							<i class="fas fa-envelope"></i>
						</label>
						<input placeholder="Email" class="form-control" name="email" type="email" required="">
					</div>
					<div class="form-style-agile form-group">
						<label>
							Your Phone
							<i class="fas fa-phone"></i>
						</label>
						<input placeholder="Your Phone No" class="form-control" name="phone" type="tel" required="">
					</div>
					<div class="form-style-agile form-group">
						<label>
							Password
							<i class="fas fa-unlock-alt"></i>
						</label>
						<input placeholder="Password" class="form-control" name="password" id="password1" type="password" required="">
					</div>

					<div class="form-style-agile form-group">
						<label>
							Your Profile Picture:
							<i class="fas fa-user"></i>
						</label>
						<input class="form-control" name="dp" type="file" accept="image/*" required="">
					</div>
					<div class="form-style-agile form-group">
						<label for="usertype">Are you User or Company?
						<i class="fas fa-user"></i>
						</label>
						<select id="usertype" name="usertype">
							  <option value="user">User</option>
							  <option value="company">Company</option>
						</select>
					</div>

					<input type="submit" value="Register">
				</form>
			</div>
			<!-- //content -->
		</div>
	</div>
	<!-- //register -->

	<!-- brands -->
	<div class="brands-w3ls py-md-5 py-4">
		<div class="container py-xl-3">
			<ul class="list-unstyled">
				<li>
					<i class="fab fa-supple"></i>
				</li>
				<li>
					<i class="fab fa-angrycreative"></i>
				</li>
				<li>
					<i class="fab fa-aviato"></i>
				</li>
				<li>
					<i class="fab fa-aws"></i>
				</li>
				<li>
					<i class="fab fa-cpanel"></i>
				</li>
				<li>
					<i class="fab fa-hooli"></i>
				</li>
				<li>
					<i class="fab fa-node"></i>
				</li>
			</ul>
		</div>
	</div>
	<!-- //brands -->




	<!-- Js files -->
	<!-- JavaScript -->
	<script src=" {% static 'js/jquery-2.2.3.min.js' %} "></script>
	<!-- Default-JavaScript-File -->
	<script src=" {% static 'js/bootstrap.js' %} "></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->

	<!-- password-script -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->

	<!-- smooth scrolling -->
	<script src=" {% static 'js/SmoothScroll.min.js' %} "></script>
	<!-- //smooth scrolling -->

	<!-- move-top -->
	<script src=" {% static 'js/move-top.js' %} "></script>
	<!-- easing -->
	<script src=" {% static 'js/easing.js' %} "></script>
	<!--  necessary snippets for few javascript files -->
	<script src=" {% static 'js/edulearn.js' %} "></script>
	<!-- //Js files -->


{% endblock %}